@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway|Ruslan+Display');

.header {
    width:100%;
    background-color:black;
    color:white;
}
/* h2 will be used for displaying the punchcards 'logo' */

h2 {
   font-family: 'Ruslan Display', cursive;
   font-size:96px;
   letter-spacing:-9px;
}

.headerIcon {
    height: 150px;
    margin: 20px;
    float:left;
}

.titlecard {
    display:block;
    float: left;
    line-height: 53px;
    margin: 20px 0px;
    width:300px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

